<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "mafflard.css" | asset_url | stylesheet_tag }}
    </head>
    <body ><!--class="bgAni"-->
        <div id="wrapper">
            <!-- Include the beast-->
            {% include "beast" %}

        </div>
        <!-- Script, only use one I dare you, no jquery, do it, do it-->
        {{ "mafflard.js" | asset_url | script_tag }}
    </body>
</html>
