<div id="beast">
  <div id="beastHead" class="leftLook">
    <div id="beastFace">
    </div>
    <div id="eyes"  >

      

      <div id="eyerror">
        ERRORERRORERROR
        ERRORORERRROROR
      </div>
      <div id="eye1" class="eye ">
        <div class="pupil">
        </div>
      </div>
      <div id="eye2" class="eye ">
        <div class="pupil">
        </div>
      </div>
    </div>
    <div id="beastMouth">

    </div>
  </div>
  <div id="beastBody">
  </div>
  <div id="ground"></div>
</div>

